<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-ui-1.12.1.js"></script>
	<script language="JavaScript" type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script language="JavaScript" type="text/javascript" src="/Scripts/jquery.validate.js"></script>
	<script language="JavaScript" type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
	@if (Session["UserName"] != null && Session["UserID"] != null)
	{
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("SendProduct", "SendProduct", "Home")</li>
					<li>
						@using (Html.BeginForm("LogOut", "Home", FormMethod.Post))
						{
							<div class="nav navbar-nav navbar-right">
								<button id="btnLogout" type="submit" class="btn btn-secondary">Log out</button>
							</div>
						}
					</li>
				</ul>
			</div>
		</div>
	</div>
	}

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 7.9.2019 - Simo Pöysä</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
